/* CategoriesBrowse.css */
.categories-browse {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.categories-browse::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #007bff, #0056b3);
    z-index: -1;
    transform: rotate(30deg);
    transition: all 0.5s;
}

.categories-browse:hover::before {
    transform: rotate(60deg);
}

.categories-browse h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #fff;
    position: relative;
    z-index: 1;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.category-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.category-card:hover {
    transform: translateY(-10px);
    background-color: aliceblue;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.icon-wrapper {
    background-color: #e0f7fa;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-icon {
    font-size: 2.5rem;
    color: #007bff;
}

.category-name {
    font-size: 1.2rem;
    color: #333;
    position: relative;
    z-index: 1;
}
